*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    display: block;

}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px
}

nav ul li a:hover{
    color: goldenrod;
}

.detail{
    margin-left: 8%;
    margin-top: 13%;
}

.detail h1{
    font-size: 48px;
    color: #212121;
    margin-bottom: 20px;
}



.detail p{
    color: #555;
    font-size: 18px;
    line-height: 30px;
}

.detail a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: none;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 200px;
    width: 200px;
    position:absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.resize{
    height: 450px;
    width: 360px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    position: absolute;
    right: 150px;
    bottom: 200px;

}

.section-head{
    font-weight: bold;
    margin-left: 50px;
}

.title {
    border-right: 5px solid goldenrod;
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}
.title h2 {
    font-size: 37px;
}

/* ABOUT ME */
.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}

.about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}

/* my work */
.work {
    padding: 20px 0;
    background-color: forestgreen;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}


.projects-wrapper {
    width: 70%;
    height: 400px;
    justify-content: center;
    display: flex;
}

.projects-items {
    width: 70%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.project {
    border: solid;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    opacity: .8;
}

.project:hover {
    opacity: 1.0;
}

.project {
    grid-column: 1/3;
    grid-row: span 2;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.note-taker {
    background-image: url("./assets/note-taker.jpg");
}

.fitness-tracker {
    background-image: url("./assets/Rise2Challenge.jpg");
}

.zookpr {
    background-image: url("./assets/zoo-kpr.jpg");
}

.project-label {
    background-color: goldenrod;
    color: var(--primary);
    padding: 10px;
}


.contact-me {
    display: flex;

}

.contact-info{
    margin-left: 30px;

}
footer{
    margin-top: 75px;
    text-align: center;
    font-size: 20px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .detail {
        display: flex;
        flex-direction: column;

    }
    .resize{
        position:initial;
        right: 0px;
        bottom: 0px;

    }
    .hero{
        position: initial;
    }
    
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    
  }
  